<div class="sub-header">
    <div class="m-auto flex-wrap mt-3 mb-2">
        <span class="leading-normal join-us" style="padding-right: 10px;">Join Us</span>
        <a href="https://t.me/+Z7Eli0cVuegxZDA0" class="pr-2" style="padding-right: 10px;">
            <img src="https://pool4ever.com/Pool4ever-Designs/telegram.png" width="20" class="mr-2 ml-2" alt="" />
            <span style="padding-left: 4px;">Telegram</span>
            <span style="padding-left: 4px;">Or</span>
        </a>
        <a href="https://t.me/+Z7Eli0cVuegxZDA0" style="padding-right: 10px;">
            <img src="https://pool4ever.com/Pool4ever-Designs/discord.png" width="20" class="mr-2 ml-2" alt="" />
            <span style="padding-left: 4px;">Discord</span>
        </a>
        <span class="join-us">Community & Support</span>
    </div>
</div>
