.sub-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    top: 60px;
    border-radius: 15px;
    margin: 15px 15px 0px 15px;
    background-color: #1e1e1e;
}
.join-us {
    color: #ffac2a;
    font-weight: 600 !important;
}