<div class="block-content">
  <div class="ng-star-inserted">
    <div
      class="bg-surface-0 px-6 py-12 md:px-12 text-center" id="footer-wrapper"
    >
      <p-divider type="solid" />
      <div
        class="col-span-12 md:col-span-3 flex flex-wrap justify-center md:mb-0 mb-1"
      >
        <div
          class="col-span-12 md:col-span-3 flex flex-wrap justify-center md:mb-0 mb-1"
        >
          <img
            src="https://pool4ever.com/Pool4ever-Designs/LogoText.png"
            class="logoTxt"
            alt="Img"
          />
        </div>
        <div class="col-span-12 md:col-span-3">
          <div class="font-medium leading-normal mb-4">Spot</div>
          <a class="text-color leading-normal block cursor-pointer mb-2"
            >Wallet</a
          >
          <a class="text-color leading-normal block cursor-pointer mb-2"
            >Trade</a
          >
          <a class="text-color leading-normal block cursor-pointer mb-2"
            >Quick Swap</a
          >
          <a class="text-color leading-normal block cursor-pointer mb-2"
            >Fees % Limits</a
          >
        </div>
        <div class="col-span-12 md:col-span-3">
          <div class="font-medium leading-normal mb-4">More</div>
          <a class="text-color leading-normal block cursor-pointer mb-2"
            >Buy Crypto</a
          >
          <a class="text-color leading-normal block cursor-pointer mb-2"
            >Markets Rates</a
          >
          <a class="text-color leading-normal block cursor-pointer mb-2"
            >Mining Pools</a
          >
          <a
            class="text-color leading-normal block cursor-pointer mb-2 flex justify-center gap-2 items-center"
          >
            <span>Help Center</span>
            <!-- <app-day-night></app-day-night> -->
          </a>
        </div>
        <p-divider type="solid" />
        <div class="card"></div>
        <div class="copyright-note">
          © 2021-2024 <span class="text-primary">Pool4Ever.com</span> All rights
          reserved<br /><br />
        </div>
        <span>
          <a href="mailto:admin@pool4ever.com" class="text-primary"
            >admin&#64;pool4ever.com</a
          >
        </span>
      </div>
    </div>
  </div>
</div>
