<div class="header-wrapper header">
  <div class="header__ether p-3">
    <div class="header__ether-img">
      <img src="../../../assets/img/svgcrypto/btc.svg" />
    </div>
    <div class="header__ether-info">
      <div
        class="header__ether-info-title flex gap-3 align-content-center align-items-center"
      >BTC/USDT
        <span id="verticalSeperator ml-2"></span>
        <div class="total__rating">91782$</div>
      </div>
      <div class="middle-list-title"></div>
    </div>
  </div>
  <div class="header__etc">
    <div class="header__etc-middle">
      <div class="middle-list__title">
        <span class="header__ether-info-text"></span>
        <ul class="header__links gap-2">
          <span id="headerLinks" class="flex flex-column font-normal text-xs pr-2">
            <span>24 Change</span>
            <span>accountData?price 24h</span>
          </span>
          <span id="headerLinks" class="flex flex-column font-normal text-xs pr-2">
            <span class="">24h Low</span>
            <span>7%</span>
          </span>
          <span id="headerLinks" class="flex flex-column font-normal text-xs pr-2">
            <span class="">24h Volume (USDT)</span>
            <span>28,703,045.02</span>
          </span>
          <li class="header__links-item">
            <a href="">BitcoinTalk</a>
          </li>
          <li class="header__links-item">
            <a href="">CoinMarketCap</a>
          </li>
          <li class="header__links-item">
            <a href="">Explorer</a>
          </li>
          <li class="header__links-item">
            <a href="">bitcoin</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
